{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  {% for review in reviews %}
    <div>
      <div class="text-center">
        <h1 style="color: gray">{{ review.title }}</h1>
        <a href="{% url 'accounts:profile' review.user.username %}"   style="font-size: midium; color: gray;">{{ review.user }}</a>
        <p style="font-size: xx-small;">{{ review.updated_at }}</p>
        <hr style="color: gray;">
      </div> 
          
      <h4 style="color: gray; font-weight: bold">content</h4>
      <div style="text-align:left'">
          <p>{{ review.content }}</p>
          <hr>
      </div>
      
    </div>
    {% if request.user.is_authenticated %}
      <form class="like-form" data-review-id="{{ review.pk }}">
        {% if user in review.like_users.all %}
        <button style="background-color: white; border:white;" id="like-button-{{ review.pk }}"><i class="fa-solid fa-heart" style="color: crimson;"></i></button>
        {% else %}
        <button style="background-color: white; border:white;" id="like-button-{{ review.pk }}"><i class="fa-regular fa-heart" ></i></button>
        {% endif %}
      </form>
      <p>
        <span id="like-count-{{ review.pk }}">{{ review.like_users.all|length }}</span> 명이 이 글을 좋아합니다.
      </p>
    {% endif %}
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %}

  {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const forms = document.querySelectorAll('.like-form')
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      forms.forEach(form => {
        form.addEventListener('submit', function (event) {
          event.preventDefault()
          const reviewId = event.target.dataset.reviewId
        
          axios({
            method: 'post',
            url: `/community/${reviewId}/like/`,
            headers: {'X-CSRFToken': csrftoken},
          })
            .then(response => {
              const liked = response.data.liked
              const likeButton = document.querySelector(`#like-button-${reviewId}`)
              const likeCount = document.querySelector(`#like-count-${reviewId}`)
              const count = response.data.count
              
              let heart = document.createElement('i')
              
              if (liked === true) {
                heart.setAttribute('class', "fa-solid fa-heart")
                heart.setAttribute('style', "color: crimson")
              } else {
                heart.setAttribute('class', "fa-regular fa-heart")
              }
              likeButton.replaceChildren()
              likeButton.appendChild(heart)
              
              likeCount.innerText = count
            })
          })
        })
    </script>
  {% endblock script %}



{% endblock %}