{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
    <div>
      <div>
        팔로잉 : 
        <span id='hi'>{{ person.followings.all |length }}</span>
        / 팔로워 :<span id='bye'>{{ person.followers.all |length }}</span> 
      </div>
      {% if user != person %}
        <div>
          <form id="follow-form" data-user-id = "{{person.pk}}">
            {% csrf_token %}
            {% if user in followers %}
              <button id="followBtn">언팔로우</button>
            {% else %}
              <button id="followBtn">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>

  {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const form = document.querySelector('#follow-form')
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        
        form.addEventListener('submit', function (event) {
          event.preventDefault()
          const userId = event.target.dataset.userId
        
          axios({
            method: 'post',
            url: `/accounts/${userId}/follow/`,
            headers: {'X-CSRFToken': csrftoken,}
          }).then((response) => {
              console.log(response.data)
              const result = response.data.is_Followed
              const followBtn = document.querySelector('#followBtn')
              if (result){
                followBtn.innerText = '언팔로우'
              } else {
                followBtn.innerText = '팔로우'
              }
              const followersCount = response.data.followers_count
              const followingsCount = response.data.followings_count
              const followersCountTag = document.querySelector('#bye')
              const followingsCountTag = document.querySelector('#hi')
              followersCountTag.innerText = followersCount
              followingsCountTag.innerText = followingsCount
            })
            .catch((error) => {
              console.log(error.response)
            })
        })
    </script>
  {% endblock script %}

{% endblock %}